<div class="table-responsive">
  <table class="table table-cards align-items-center">
    <thead>
      <tr>
        <th scope="col" class="sort" data-sort="product">Order id</th>
        <th scope="col" class="sort" data-sort="price">Date</th>
        <th scope="col" class="sort" data-sort="size">Quantité de produits</th>
        <th scope="col" class="sort" data-sort="total">Montant Payé</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="list">
      <% orders.order("created_at DESC").each do |order| %>
        <tr>
          <div class="orderInUserPage" type="button">
            <td scope="row">
              <div class="media align-items-center">
                <div class="media-body pl-3">
                  <div class="lh-100 text-dark font-weight-bold mb-0">
                    <%= order.id %>
                  </div>
                </div>
              </div>
            </td>
            <td class="date">
              <%= order.created_at %>
            </td>
            <td>
              <span class="badge badge-dot ml-3">
                <i class="bg-"></i>
                <span class="status"><%= order.products.count %></span>
              </span>
              </td>
            <td class="total">
              <%= order.payable_amount.round(2) %> €
            </td>
            <td class="text-right"></td>
          </div>
          
          <!-- PARTIAL DU CONTENU DE L' ORDER -->

          <!-- <div class="collapse"> -->
            <!-- <%= render 'orderproducts', order: order, products: Product.all.map { |product| if order.products.include?(product) then product end }.compact %> -->
          <!-- </div> -->
          
          <tr class="table-divider"></tr>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
