<!-- SVG background -->
<div class="bg-absolute-cover bg-size--contain d-none d-lg-block">
  <figure class="w-100">
  </figure>
</div>
<div class="container py-5 px-md-0 d-flex align-items-center">
  <div class="w-100">
    <div class="row row-grid justify-content-center justify-content-lg-between align-items-center">
      <div class="col-sm-8 col-lg-6 col-xl-5 order-lg-2">
        <div class="card shadow zindex-100 mb-0">
          <div class="card-body px-md-5 py-5">
            <div class="mb-5">
              <h6 class="h3">Inscription</h6>
              <p class="text-muted mb-0">Le site qui fait l'apologie des chats.</p>
            </div>
            <span class="clearfix"></span>
            <!-- FORM -->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email, class: 'control-label'%><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email...', class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :password, class: 'control-label' %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe...', class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, class: 'control-label' %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Attention aux fautes...', class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: 'btn btn-primary mb-3 mb-sm-0' %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

            <!-- FORM END -->
          </div>
          <div class="card-footer px-md-5"><small>Déja un compte?</small>
            <a href="#" class="small font-weight-bold">Connexion</a></div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1 d-none d-lg-block">
        <blockquote>
          <h3 class="h2 mb-4">La vie c’est comme tenter de mettre des chatons dans un panier. Quand on y met le dernier, le premier est déjà de l’autre côté.</h3>
          <footer>— <cite class="text-lg">Joanna Trollope</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
