<% if @cart.products.count == 0 %>

  <div class="main-content">
    <div class="main-content">
      <section class="slice slice-xl mh-100vh d-flex align-items-center" data-offset-top="#header-main">
        <div class="container pt-6 position-relative zindex-100">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="text-center">
                <i class="fas fa-cat fa-8x"></i>
                <h6 class="h4 my-4">Ton panier est vide.</h6>
                <p class="px-md-5 text-center">
                  Pour afficher un panier, il faudrait commencer par le remplir de chats...
                </p>
                <a href="/products" class="btn btn-sm btn-primary btn-icon rounded-pill mt-5">
                  <span class="btn-inner--icon"><i class="fas fa-angle-left"></i></span>
                  <span class="btn-inner--text">Retourner à la boutique</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

<% else %>

<!-- Header (account) -->
<header class="header-account-page bg-primary d-flex align-items-end" style="height: 180px">
  <!-- Header container -->
  <div class="container">
    <div class="row">
      <div class=" col-lg-12">
        <!-- Salute + Small stats -->
        <div class="row align-items-center mb-4">
          <div class="col-md-5 mb-4 mb-md-0">
            <span class="h2 mb-0 text-white">Hello toi,</span><br>

            <span class="text-white">Comment chat va ?</span>
          </div>
        </div>
        <!-- Account navigation -->
        <div class="d-flex">
          <div class="btn-group btn-group-nav shadow" role="group" aria-label="Basic example">
            <div class="btn-group" role="group">
              <%= link_to cart_path, method: "GET" do %>
                <button type="button" class="btn btn-white btn-icon"><span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                <span class="btn-inner--text d-none d-md-inline-block">Panier</span></button>
              <% end %>
              <%= link_to edit_user_registration_path, method: "GET" do %>
                <button type="button" class="btn btn-white btn-icon"><span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                <span class="btn-inner--text d-none d-md-inline-block">Mon Profil</span></button>
              <% end %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="slice slice-lg">
  <div class="container">
    <!-- Shopping cart table -->
    <div class="table-responsive">
      <table class="table table-cards align-items-center">
        <thead>
          <tr>
            <th scope="col" class="sort" data-sort="product">Espèce</th>
            <th scope="col" class="sort" data-sort="price">Prix</th>
            <th scope="col" class="sort" data-sort="size">Vivant</th>
            <th scope="col">Quantité</th>
            <th scope="col" class="sort" data-sort="total">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="list">
          <% @products.each do |product| %>
            <% if current_user.cart.products.include?(product) %>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <%if product.avatar.attached?%>
                    <%= image_tag(product.avatar, alt: 'avatar', :style => "width: 80px;") %>
                  <%else%>
                    <img src="<%= product.image_url %>" class="" style="width: 80px;">
                  <%end%>
                  <div class="media-body pl-3">
                    <div class="lh-100">
                      <%= link_to product.title, product_path(product), class:"text-dark font-weight-bold mb-0" %>
                    </div>
                    <span class="font-weight-bold text-muted">En stock</span>
                  </div>
                </div>
              </th>
              <td class="price">
                <%= product.price %> €
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-"></i>
                  <span class="status">Oui</span>
                </span>
              </td>
              <td>
                <span class="badge badge-dot ml-3">
                  <i class="bg-"></i>
                  <span class="status"><%= current_user.cart.products.where(id: product.id).count %></span>
                </span>
                <div class="row">
                  <div class="actions ml-4">
                    <%= link_to cart_path(@cart, :product_id => product.id, :to_do => "remove"), method: "PATCH", class:"action-item mr-2" do %>
                      <i class="fas fa-minus"></i>
                    <% end %>
                  </div>
                  <div class="actions ml-2">
                    <%= link_to cart_path(@cart, :product_id => product.id, :to_do => "add"), method: "PATCH", class:"action-item mr-2" do %>
                     <i class="fas fa-plus"></i>
                    <% end %>
                  </div>
                </div>
              </td>
              <td class="total">
                <%= (current_user.cart.products.where(id: product.id).count * product.price).round(2) %> €
              </td>
              <td class="text-right">
                <!-- Actions -->
                <div class="actions ml-3">
                  <%= link_to cart_path(@cart, :product_id => product.id, :to_do => "delete"), method: "PATCH", remote: true, class:"action-item mr-2" do %>
                  <i class="fas fa-times"></i>
                  <% end %>
                </a>
              </div>
            </td>
            <tr class="table-divider"></tr>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Cart information -->
  <div class="card mt-5 bg-secondary">
    <div class="card-body">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 order-md-2 mb-4 mb-md-0">
          <div class="d-flex align-items-center justify-content-md-end">
            <span class="h6 text-muted d-inline-block mr-3 mb-0">Montant total:</span>
            <span class="h4 mb-0"><%= @cart.payable_amount.round(2) %> €</span>
          </div>
        </div>
        <div class="col-md-6 order-md-1">
          <%= link_to new_cart_charge_path(@cart) do %>
          <button type="button" class="btn btn-animated btn-primary btn-animated-y">
            <span class="btn-inner--visible">Paiement</span>
            <span class="btn-inner--hidden">
              <i class="fas fa-shopping-cart"></i>
            </span>
          </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>

<% end %>
