<h2>Edition de mon annonce</h2>

<%= render 'form', product: @product %>
<br>
<div class="col-md-12 text-center">
  <div class="actions">
    <%= link_to 'Voir le rendu produit', @product, class: "btn btn-sm btn-soft-success" %>
  </div>
</div>

<h3>Upload une nouvelle image ?</h3>

<%= form_tag product_avatars_path(@product), multipart: true do %>
  <div class="col-md-6">
    <div class="actions">
  <label for="file-1">
  </label>
  <span class="btn btn-large btn-soft-warning btn-file">
        <i class="fa fa-upload"></i>
    <span>Choose a file…</span>
    <%= file_field_tag :avatar %>
  </span>
    </div>
  </div>
<br />
  <div class="col-md-12 text-center">
    <div class="actions">
      <%= submit_tag "Mettre à jour l'image", class: "btn btn-sm btn-soft-primary" %>
    </div>
  </div>
  <br />
<% end %>