<div class="main-content">
  <!-- Header -->
  <section class="slice slice-xl bg-cover bg-size--cover" data-offset-top="#header-main" style="background-image: url(https://images.pexels.com/photos/1643456/pexels-photo-1643456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center center;">
    <span class="mask bg-dark opacity-3"></span>
    <div class="container py-6">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="h1 text-white">Les plus beaux chatons à votre porte.</h2><br>
          <p class="lead text-white mt-4 text-center">La vie c’est comme tenter de mettre des chatons dans un panier. Quand on y met le dernier, le premier est déjà de l’autre côté. <br><em>Séparation de coeur - Joanna Trollope</em></p>
          <a href="#section02" class="btn btn-success rounded-pill mt-4 shadow hover-shadow-lg hover-translate-y-n3">Découvrez nos plus belles espèces</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Products -->
  <section id="section02" class="slice slice-lg delimiter-bottom" id="sct-products">
    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
        <div class="col-md-4 mb-4">
          <div class="card card-product">
            <div class="card-image">
              <%if product.avatar.attached?%>
                <%= image_tag(product.avatar, alt: 'avatar', :class => "img-fluid") %>
              <%else%>
                <img alt="Image placeholder" src="<%= product.image_url %>" class="img-center img-fluid">
              <%end%>
            </div>
            <div class="card-body text-center pt-0">
              <h6><a href="#"><%= product.title %></a></h6>
              <p class="text-sm">
                <%= product.description %>
              </p>
              <span class="card-price"><%= product.price %> €</span><br>
              <%= link_to 'Chat-fficher', product, class: "btn btn-soft-info btn-sm" %>
              <% if user_signed_in? %>
                <%= link_to 'Chat-cheter', carts_path(:product_id => product.id), method: "POST", remote: true, class: "btn btn-soft-success btn-sm" %>
              <% end %>
            </div>
            <div class="actions card-product-actions" data-animation-in="slideInLeft" data-animation-out="slideOutLeft">
              <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Add to cart">
                <i class="fas fa-shopping-bag"></i>
              </button>
              <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Wishlist">
                <i class="fas fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url(https://images.pexels.com/photos/417005/pexels-photo-417005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center center;">
    <span class="mask bg-dark opacity-2"></span>
    <div class="container py-6">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-6 text-center">
          <div class="mb-5">
            <h1 class="text-white">Livraison dans la journée</h1>
            <p class="lead text-white mt-1">Tous nos chats sont transportés dans les meilleures conditions possibles, et livrés avec un repas dans l'estomac, et une bouteille d'eau pour une meilleure hydratation.</p>
          </div>
          <form>
            <div class="form-group mb-0">
              <div class="input-group input-group-lg input-group-merge rounded-pill bg-white">
                <input type="email" class="form-control form-control-flush" name="email" placeholder="Laisse ton email pour une adoption à venir" aria-label="Enter your email address">
                <div class="input-group-append">
                  <button class="btn btn-white text-dark" type="button">
                    <span class="far fa-paper-plane"></span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
