<div class="main-content">
  <section class="slice">
    <div class="container">
      <div class="row row-grid">
        <div class="col-lg-6">
          <div data-toggle="sticky" data-sticky-offset="30">
            <a href="../../assets/img/theme/light/shop-product-lg-2.jpg" data-fancybox>
            </a>
            <div class="mt-4 text-center">
              <%if @product.avatar.attached?%>
                <%= image_tag(@product.avatar, alt: 'avatar', :class => "img-fluid") %>
              <%else%>
                <img alt="Image placeholder" src="<%= @product.image_url %>" class="img-fluid">
              <%end%>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="pl-lg-5">
            <!-- Product title -->
            <h5 class="h4"><%= @product.title %></h5>
            <!-- Rating -->
            <div class="row align-items-center">
              <div class="col-6">
                <span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                  <i class="star fas fa-star voted"></i>
                  <i class="star fas fa-star voted"></i>
                  <i class="star fas fa-star voted"></i>
                  <i class="star fas fa-star"></i></span>
                </div>
                <div class="col-6 text-right">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <span class="badge badge-pill badge-soft-info">ID #<%=@product.id %></span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-pill badge-soft-success">En stock</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Description -->
              <div class="py-4 my-4 border-top border-bottom">
                <h6 class="text-sm">Description:</h6>
                <p class="text-sm mb-0">
                  <%= @product.description %>
                </p>
              </div>
              <div class="row align-items-center">
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <span class="d-block h3 mb-0"><%= @product.price %> €</span>
                </div>
                <div class="col-sm-6 text-sm-right">
                  <!-- Add to cart -->
                  <% if user_signed_in? %>
                    <%= link_to carts_path(:product_id => @product.id, :origin => "product_page"), method: "POST", remote: true do %>
                      <button type="button" class="btn btn-soft-success btn-icon" id="addToCartBtn"> Ajouter au panier <i class='fas fa-shopping-bag'></i> </button>
                    <% end %>
                  <% else %>
                    <%= link_to new_user_session_path do %>
                      <button type="button" class="btn btn-soft-primary btn-icon"> Connecte toi pour pouvoir acheter  <i class='fas fa-shopping-bag'></i> </button>
                    <% end %>
                  <% end %>
                    <div id="notice-area"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="slice slice-lg delimiter-top" id="sct-suggested-products">
        <div class="container">
          <div class="mb-5 text-center">
            <h3 class="h6">Nos chats les plus dociles<i class="fas fa-angle-down text-xs ml-3"></i></h3>
          </div>
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-lg-3 col-sm-6">
                <div class="card card-product">
                  <div class="card-image">
                    <img alt="Image placeholder" src="<%= product.image_url %>" class="img-center img-fluid">
                  </div>
                  <div class="card-body text-center pt-0">
                    <h6><a href="#"><%= product.title %></a></h6>
                    <span class="card-price"><%= product.price %> €</span><br>
                    <%= link_to 'Chat-fficher', product, class: "btn btn-soft-info btn-sm" %>
                  </div>
                  <div class="actions card-product-actions" data-animation-in="slideInLeft" data-animation-out="slideOutLeft">
                    <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Add to cart">
                      <i class="fas fa-shopping-bag"></i>
                    </button>
                    <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Wishlist">
                      <i class="fas fa-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          </div>
        </section>

        <section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url(https://images.pexels.com/photos/96399/pexels-photo-96399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center center;">
          <span class="mask bg-dark opacity-2"></span>
          <div class="container py-6">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-xl-7 text-center">
                <div class="mb-5">
                  <h1 class="text-white">Laisse toi tenter par une adoption.</h1>
                  <p class="lead text-white text-center">Et rend nos chats plus heureux que jamais.</p>
                </div>
                <a href="/products" class="btn btn-primary btn-icon rounded-pill shadow hover-shadow-lg hover-translate-y-n3">
                  <span class="btn-inner--text">Get started</span>
                  <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </section>
</div>