<header>
  <nav class="navbar navbar-horizontal navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/products">NABOO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="#">
              <i class="fab fa-instagram"></i>
              <span class="nav-link-inner--text">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to  cart_path(current_user.cart), class:"nav-link nav-link-icon" do %>
                <i class="fas fa-shopping-cart"></i>
                <span class="nav-link-inner--text d-lg-primary">Panier
                  <%= if current_user.cart != nil then "(#{current_user.cart.products.count})" end %>
                  </span>
              <% end %>
              </li>
              <li class="nav-item">
              <%= link_to edit_user_registration_path, method: "GET" do %>
                <button type="button" class="btn btn-soft-primary btn-icon btns-sm"> Profil </button>
              <% end %>
              <%= link_to destroy_user_session_path, method: "DELETE" do %>
                <button type="button" class="btn btn-soft-danger btn-icon btn-sm"> Déconnexion </button>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <button type="button" class="btn btn-primary btn-icon"> Connexion </button>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
