
    <thead class="collapse" id="order<%=order.id%>Title">
      <tr>
        <th scope="col" class="sort" data-sort="product">Espèce</th>
        <th scope="col" class="sort" data-sort="price">Prix</th>
        <th scope="col" class="sort" data-sort="size">Vivant</th>
        <th scope="col">Quantité</th>
        <th scope="col" class="sort" data-sort="total">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="list collapse" id="order<%=order.id%>Content">
      <% products.each do |product| %>
        <tr>
          <th scope="row">
            <div class="media align-items-center">
              <%if product.avatar.attached?%>
                <%= image_tag(product.avatar, alt: 'avatar', :style => "width: 80px;") %>
              <%else%>
                <img src="<%= product.image_url %>" class="" style="width: 80px;">
              <%end%>
              <div class="media-body pl-3">
                <div class="lh-100">
                  <%= link_to product.title, product_path(product), class:"text-dark font-weight-bold mb-0" %>
                </div>
              </div>
            </div>
          </th>
          <td class="price">
            <%= product.price %> €
          </td>
          <td>
            <span class="badge badge-dot mr-4">
              <i class="bg-"></i>
              <span class="status">Oui</span>
            </span>
          </td>
          <td>
            <span class="badge badge-dot ml-3">
              <i class="bg-"></i>
              <span class="status"><%= order.products.where(id: product.id).count %></span>
            </span>
          </td>
          <td class="total">
            <%= (order.products.where(id: product.id).count * product.price).round(2) %> €
          </td>
          <td class="text-right"></td>
          <tr class="table-divider"></tr>
        </tr>
      <% end %>
    </tbody>